
/*set design style for the headings*/
.main-view{
  margin: 15px;
}

h1{
	font: bold 20px Tahoma;
  text-align: center;
}
h2{
	font: bold 16px Tahoma;

}
.section-title-with-selector{
  margin-top: 20px;
  text-align: left;
}
/*set design so it's compatible or so it works with all browsers*/

/*set design for the body of the website - remember to implement styling for
class, id and pseudo class */

/*aligning general text to center of the page - will adjust text to align left
or right if needed.
design style for background, border, margin, width, padding, color,
text-alignment, list style and float for the body of the website*/

.help-text {
  text-align: left;
  width: 830px;
}
.table-align-left{
  float: left;
}
.data-table {
    margin:auto;
    width: 800px;
}
.table{
    width:100%;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
	margin: 0 auto 0 auto;
}
.row{
   background-color: #F1F4F8;
   width:100%;
   margin:0px;
   padding:0px;
   border:1px solid #D9DCDF;
   border-top:none;
   border-left: none;
   display:flex;
}
.header-row{
    background-color: #7094B8;
    border-top: 1px solid #D9DCDF;
}
.blank-cell{
    width:20%;
    min-height: 20px;
}
.cell {
    width:20%;
    line-height: 30px;
    border-left: 1px solid #D9DCDF;
    padding-left:10px;
}
.header {
    font-weight: bold;
    border-color: #C1C3C6;
}



/*TRADITIONAL BOX MODEL Layout*/
/*colors will be changed - bright colors just makes it easier to see*/
body{
	text-align:center;
}
#body_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align:left
}
#header_top{
	background: yellow;
	border: 1px solid blue;
	padding 20px
}
/*this is the design for the top navigation bar*/
#menu_top{
	background: blue;
	color:white;
}
/*styling and arranging navigation tabs so they go across the screen.*/
#menu_top li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
/*design for the main section*/
/*design for tables, charts, selectors will be added here*/
#section_main{
	float: left;
	width: 660px;
	margin: 30px; /*this is 720 px, 280px is left*/
}
/*design for a side bar - we probably will not use this*/
#aside_news{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66cccc;
}
/*design for the footer section of the web page*/
#footer_note{
	clear:both;
	text-align:center;
	padding: 20px;
	border-top: solid green;
}
