
/*set design style for the headings*/
body{
	text-align:center;
  background-color: #FCFCFF;
  color: #20130A;
  margin: 0px;
}
.main-view{
  margin: 20px;
  min-height: 825px
}

h1{
	font: bold 20px Tahoma;
  text-align: center;
}
h2{
	font: bold 16px Tahoma;

}
.section-title{
  margin-top: 20px;
  text-align: left;
}
.selector-left{
  text-align: left;
  }
/*set design so it's compatible or so it works with all browsers*/

/*set design for the body of the website - remember to implement styling for
class, id and pseudo class */

/*aligning general text to center of the page - will adjust text to align left
or right if needed.
design style for background, border, margin, width, padding, color,
text-alignment, list style and float for the body of the website*/

.help-text {
  color: #514A3E;
  text-align: left;
  width: 830px;
}
.table-align-left{
  float: left;
}
.data-table {
    margin:auto;
    margin-top: 10px;
    width: 800px;
}
.table{
    width:100%;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
	margin: 0 auto 0 auto;
}
.row{
   background-color: #F7F7F7;
   width:100%;
   margin:0px;
   padding:0px;
   border:1px solid #D9DCDF;
   border-top:none;
   border-left: none;
   display:flex;
}
.header-row{
  border-top: 1px solid #D9DCDF;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}

.cell {
    width:20%;
    line-height: 30px;
    border-left: 1px solid #D9DCDF;
}
.pos-green{
color: #33CC33;
}
.neg-red{
  color: #FF1919;
}
.header {
    font-weight: bold;
    border-color: #C1C3C6;
}
}
/*design for the footer section of the web page*/
.footer-note{
  background-color: #FCFCFF;
	clear:both;
	text-align:center;
  font: bold 14px Tahoma;
	padding: 20px;
}
.bottom-nav{
  line-height: 30px;
  color: #20130A;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.bottom-nav a{
  font-weight: bold;
	padding: 5px;
}


/*TRADITIONAL BOX MODEL Layout*/
/*colors will be changed - bright colors just makes it easier to see*/

#body_wrapper{
	border: 1px solid black;
	width: 1000px;
	margin: 20px auto;
	text-align:left
}
#header_top{
	background: yellow;
	border: 1px solid blue;
	padding 20px
}
/*this is the design for the top navigation bar*/
#menu_top{
	background: blue;
	color:white;
}
/*styling and arranging navigation tabs so they go across the screen.*/
#menu_top a{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
/*design for the main section*/
/*design for tables, charts, selectors will be added here*/
#section_main{
	float: left;
	width: 660px;
	margin: 30px; /*this is 720 px, 280px is left*/
}
/*design for a side bar - we probably will not use this*/
#aside_news{
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: #66cccc;
}
/*design for the footer section of the web page*/
#footer_note{
	clear:both;
	text-align:center;
	padding: 20px;
	border-top: solid green;
}
