html{
	position: relative;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.section .Select-control{
	width:40%;
}
.section-heading{
	float:left;
	padding:10px;
	font-size:14px;
	
}
#wrapper {
	width: 1024px;
	margin: 0 auto;
  font: 14px Tahoma;

  min-height: 100%;
  background-color: #FCFCFF;
  color: #20130A;
  
  
}
#header {
  text-align: center;
}
#content {
  margin: 20px;
  text-align:center;
  padding-bottom: 50px;
}
/*Styles for main page*/
.bottom-spacer{
  padding-bottom: 50px;
}
h1{
	font: bold 24px Tahoma;
  text-align: center;
}
h2{
	font: bold 20px Tahoma;
}
.section-title{
  margin-top: 20px;
  text-align: left;
}
.selector-left{
  text-align: left;
}

.help-text {
  color: #514A3E;
  text-align: left;
  width: 830px;
}
.table-align-left{
  float: left;
}
.data-table {
    margin:auto;
    margin-top: 10px;
    width: 800px;
}
table {
  width:100%;
  padding: 0px 0px 0px 0px;
	margin: 0 auto 0 auto;
}
tr {
   background-color: #F7F7F7;
   width:100%;
   margin:0px;
   padding:0px;
   border:1px solid #D9DCDF;
   border-top:none;
   border-left: none;
   display:flex;
}
td {
  width:20%;
  line-height: 30px;
  border-left: 1px solid #D9DCDF;
}
.header-row{
  border-top: 1px solid #D9DCDF;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.pos-green{
  color: #33CC33;
}
.neg-red{
  color: #FF1919;
}
td .header {
  font-weight: bold;
  border-color: #C1C3C6;
}
/*design for the footer section of the web page*/
#footer {
  height: 30px;
  text-align:center;
  bottom:0;
  left: 0;
}

.bottom-nav{
  line-height: 30px;
  color: #20130A;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.bottom-nav a{
  font-weight: bold;
	padding: 5px;
}
/*Styles for about us page*/
.about-us-column{
  width: 300px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.select2-results__option[aria-selected]{
    font: 14px Tahoma;
}
